---
import { getCollection } from 'astro:content';

import Layout from '~/layouts/Layout.astro';

import { CategoryPreview } from '~/components/category-preview';

const posts = await getCollection('nocontextscats');
const searchParams = Astro.url.searchParams;
---

<Layout title="Keystatic & Astro's Content Collections">
  <main class="my-10 w-full px-20">
    <CategoryPreview
      accountHandle="nocontextscats.bsky.social"
      collectionId="nocontextscats"
      posts={posts}
      qsCreateNewPost={searchParams.get('create')}
      qsPostEdit={searchParams.get('post')}
      client:load
    />
  </main>
</Layout>
